/* CSS 파일의 인코딩 종류 설정하기 */
@charset "UTF-8";

@font-face {
    font-family: 'Jalnan';
    src: url("Jalnan.ttf");
}

:root{
    --text-white-color: #FFF;
    --accent-color: #562a86;
    --main-color: #6b006b;
    --icon-color: #940f94;
    --icon-bg-color: #AAA;
    --footer-bg-color: #240c3f;
}

body{
    margin: 0;
    padding: 0;
}
/* 콘텐츠 A 설정 */
.conA{
    height: 100vh;
    color: var(--text-white-color);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* 배경 화면 */
    background-image: url("https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-position: center;
}
.conA img{
    width: 20%;
}
.conA h1{
    margin: 0;
    margin-bottom: 30px;
    font-size: 12vw;
    letter-spacing: 0.2em;
}
.conA p{
    margin: 0;
    font-size: 25px;
}
.conA a{
    display: inline-block;
    margin-top: 20px;
    border: solid 3px currentColor;
    border-radius: 6px;
    color: var(--text-white-color);
    background-color: var(--accent-color);
    padding: 10px 30px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

/*************** conB ***********/
.conB h2{
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 20px;
}

.conB p{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    opacity: 0.8;
}
.conB a{
    color: var(--main-color);
    text-decoration: none;
}
.conB a:hover{
    text-decoration: underline;
}
.conB .text > span{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--icon-color);
    background-color: var(--icon-bg-color);
    text-align: center;
    border-radius: 50%;
    width: 60px;
    line-height: 60px;
}
.conB .container{
    padding: 20px 40px;
}
.conB .text{
    text-align: center;
    margin: 80px 0;
}
.conB .more{

}

/*************************************/
.conC {
    background-color: var(--main-color);
    color: var(--text-white-color);
}
.conC h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 25px;
}
.conC p{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.8;
}
.conC a{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 6px;
    border: 3px solid currentColor;
    font-size: 14px;
    color: var(--text-white-color);
    background-color: black;
    text-decoration: none;
}
.conC a:hover{
    background-image: linear-gradient(
            rgba(255,255,255,0.2),
            rgba(255,255,255,0.2)
    );
}
.conC .photo{
    min-height: 250px;
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-size: cover;
}
.conC .text{
    padding: 20px;
}

/********************************************/
.conD {
    position: relative;
    margin-top: 100px;
    min-height: 400px;
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-size: cover;
}
.conD h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 25px;
}
.conD p{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.8;
}
.conD a{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 6px;
    border: 3px solid currentColor;
    font-size: 14px;
    color: var(--text-white-color);
    background-color: black;
    text-decoration: none;
}
.conD a:hover{
    background-image: linear-gradient(
            rgba(255,255,255,0.2),
            rgba(255,255,255,0.2)
    );
}
.conD .text{
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
}

/**************** footer ****************/
footer{
    color: var(--text-white-color);
    background-color: var(--footer-bg-color);
}
footer .container{
    padding: 40px 20px;
}

.footA h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 0.2em;
}
.footA p{
    margin: 0;
    font-size: 14px;
}
.footA a{
    color: inherit;
    text-decoration: none;
}
.footB ul{
    display: flex;
    margin: 10px 0;
    padding: 0;
    list-style: none;
}
.footB li{
    display: flex;
    width: 30px;
    height: 30px;
    border: 2px solid var(--text-white-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.footB li:hover{
    background-color: rgba(255,255,255);
}

.footB a{
    font-size: 15px;
}
.footB li:hover a{
    color: var(--main-color);
}

.footC h3{
    border-bottom: 1px solid white;
    font-size: 18px;
    padding: 5px 0;
    margin: 0;
}
.footC ul{
    margin: 0;
}
.footC li{
    margin: 10px 0;
}
.footC a{
    color: var(--text-white-color);
}

.footD {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}
/**********************************/
header{
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
}
.headA{
    display: inline-block;
    line-height: 70px;
    padding: 0 20px;
    color: var(--accent-color);
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    text-decoration: none;
}

.headB{
    padding: 0 20px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
.headB:hover{
    color: rgba(0, 0, 0, 0.5);
}

.headC{
    /*display: none;*/
}
.headC ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.headC a{
    color: var(--accent-color);
    display: block;
    padding: 15px 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.headC li:hover{
    background-color: rgba(0,0,0,0.3);
}


/* 768px: iPad 화면 너비 기준으로 폰트 크기 고정 */
@media screen and (min-width: 768px) {
    .conA h1 {
        /* 화면 너비가 768px 라면, 1vw = 7.68px.. */
        font-size: 90.2px;
    }
}

@media screen and (min-width: 768px) {
    .conB .container{
        display: flex;
    }
    .conB .text{
        flex: 1;
    }
}
@media screen and (min-width: 768px) {
    .conC .container{
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }
    .conC .photo{
        flex: 3;
    }
    .conC .text{
        flex: 2;
    }
}

@media screen and (min-width: 768px){
    .conD{
        padding: 50px 100px;
    }
    .conD .text{
        height: 300px;
        position: relative;
    }
}

@media screen and (min-width: 768px){
    footer .container{
        display: flex;
        flex-wrap: wrap;
        max-width: 1600px;
        margin: 0 auto;
    }
    .footA{
        flex: 0 0 40%;
    }
    .footC{
        display: flex;
        flex: 0 0 60%;
    }
    .footC div{
        margin: 0 10px;
        flex: 1;
    }
    .footD{
        flex: 0 0 100%;
    }
}

@media screen and (max-width: 767px){
    header .container-small{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .headC{
        display: none;
    }
    .headC[active]{
        display: block;
    }
}

@media screen and (min-width: 768px){
    header .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }
    .headB{
        display: none;
    }
    .headC{
        display: block;
    }
    .headC ul{
        display: flex;
    }
}




